<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Samantha Beauty</title>

    <!-- Bootstrap Core CSS -->
    <link href="static/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="static/business-frontpage.css" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
     <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

    <!-- Navigation -->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">Samantha Beauty</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li>
                        <a href="#about">About</a>
                    </li>
                    <li>
                        <a href="#products">Products</a>
                    </li>
                    <li>
                        <a href="#contact">Contact</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->

    </nav>

    <!-- Image Background Page Header -->
    <!-- Note: The background image is set within the business-casual.css file. -->
    <header class="business-header">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    {# <h1 class="tagline">Samantha Beauty</h1>
 #}                </div>
            </div>
        </div>
    </header>
    
    <div id="about" class="container">
        <hr>

        <div class="row">
            <div class="col-sm-12">
            <h2>About Us</h2>
            <p>
            The Samantha Beauty Corporation brings a fresh natural approach to hair care with an introduction of its new shampoo and conditioner line, by helping to heal and rejuvenate.  You will see and feel noticeable results within days, as well as vibrant, beautiful hair, which will boost your confidence dramatically.<br/><br/>
            The proof behind Samantha’s products came from Samantha herself.  Shiny and healthy long hair right down below her waistline.  This started with the passion of being taught as early as her childhood, on how to make natural hair care products for her self.  She is the second generation in the Cosmetic Industry.  In 1981, her parents started a very successful cosmetic company. At a young age, Samantha assisted her family's business, helping excel the production processes.<br/><br/>
            With this passion and love for her hair and cosmetology, she has now created a unique hair product line that can help reduce hair loss by nourishing the scalp. Developing a strong foundation, which gives the hair nutrients needed to evolve into strong and healthy hair, while maintaining a brilliant shine.<br/><br/>
            Without a doubt, Samantha is confident that you will appreciate that she has tested all these products on herself first.  Having used her own hair as a basis, she is an undeniable a living testimony to the use of her products.<br/><br/>
            Now you too have the opportunity to benefit from her beauty product line. We now introduce Samantha’s Natural Shampoo and Conditioner line that will benefit all those who wish to have their hair looking for ever healthy, full, and shiny.
            </p>
            </div>
        </div>
    
    </div>
    <!-- Page Content -->
    <div id="products" class="container">

        <hr>

        <div class="row">
            <div class="col-sm-12">
                <h2>Our Products</h2>
                <p>ls your hair damaged, brittle, dry, and lifeless? Would you like it to be soft, luxurious, and healthy? If you answered yes to either of these questions it may be time for you to try some amazing new hair products! With our specially formulated Shampoo, Conditioner, and Leave in Conditioner your hair could be runway ready before you know it! </p>
                <p>All three of our products are free of Sulfates, Parabens, and Sodium Chloride. These chemicals are hidden in the ingredients of many well-knownbrands and they can cause damage to your scalp and your hair. Add that to the damage caused by swimming pools, thermal heat, and hair coloring and your hair may just be in crisis mode! The natural oils and vitamins in our hair care line go above and beyond to not only keep your hair clean and fresh, but to sooth and repair the damage done by other brands!!
                </p>
                <!--<p>
                    <a class="btn btn-default btn-lg" href="#">Call to Action &raquo;</a>
                </p>
                -->
            </div>
        </div>
        <!-- /.row -->

        <hr>

        <div class="row">
            <div class="col-sm-4">
                <img class="img-thumbnail img-responsive img-center" src="static/shampoo.jpg" alt="">
                <h2>Shampoo</h2>
                <p>Our shampoo was formulated with ingredients like Coconut oil and Aloe to gently cleanse your hair and scalp, while also nourishing and hydrating your hair. Lemon oil adds to the experience by creating a rich foamy lather and a tantalizing scent. Daily use will leave your hair feeling fresh and healthy!</p>
                <p>
                  <form action="/chargeSha" method="post" id='Shampoo'>
                <article>
                  <label>
                    <span>Amount is $20.00</span>
                  </label>
                </article>

                <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
                        data-key="{{ key }}"
                        data-description="Shampoo"
                        data-amount="2000"
                        data-billing-address=true
                        data-shipping-address=true
                        data-locale="auto">
                </script>
                </form>
                </p>
            </div>
            <div class="col-sm-4">
                <img class="img-thumbnail img-responsive img-center" src="static/conditioner.jpg" alt="">
                <h2>Conditioner</h2>
                <p>Our conditioner was designed to target each damaged hair at the root to encourage healthy growth. As you massage the conditioner into your hair it is enveloped in the perfect amount of product to help heal breakage and moisturize dry cracked hair. After just one use you will see the difference our natural products can make!</p>
                                <p>
                <form action="/chargeCon" method="POST" id='Conditioner'>
                <article>
                  <label>
                    <span>Amount is $22.00</span>
                  </label>
                </article>

                <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
                        data-key="{{ key }}"
                        data-description="Conditioner"
                        data-amount="2200"
                        data-billing-address=true
                        data-shipping-address=true
                        data-locale="auto"></script>
                </form>
                </p>
            </div>
            <div class="col-sm-4">
                <img class="img-thumbnail img-responsive img-center" src="static/leave_in.jpg" alt="">
                <h2>Leave in Conditioner</h2>
                <p>Leave in Conditioner is an important hair care product that many people neglect. Even the best shampoos and conditioners can't do it all, and that is where leave in products come in handy. Our leave in conditioner is packed full of hair healthy ingredients like Omega 3, Buriti nut oil, Jojoba oil Moroccan nut oil, Brazilian nut oil... These will give your hair lasting shine and protect it from things like sun damage,thermal heat,swimming pool,pollutants, and humidity! Don't wait until it's too late! Pick up our hair care trio and make your hair the healthiest on the block!!</p>
                                <p>
                  <form action="/chargeLeave" method="post" name='LeaveInConditioner'>
                <article>
                  <label>
                    <span>Amount is $25.00</span>
                  </label>
                </article>

                <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
                        data-key="{{ key }}"
                        data-description="Leave In Conditioner"
                        data-amount="2500"
                        data-billing-address=true
                        data-shipping-address=true
                        data-locale="auto"></script>
                </form>
                </p>
            </div>
        </div>
        <!-- /.row -->
        <div id="contact">
        <div class="col-sm-12">
                <h2>Contact Us</h2>
                <address>
                    <strong>Samantha Beauty</strong>
                    <br>10586 Garden Grove Blvd
                    <br>Garden Grove, CA 92843
                    <br>
                </address>
                <address>
                    <abbr title="Phone">P:</abbr>(888)334-6467
                    <br>
                    <!--<abbr title="Email">E:</abbr> <a href="mailto:#">samanthadesign@yahoo.com</a> -->
                </address>
            </div>
        </div>

        <hr>

        <!-- Footer -->
        <footer>
            <div class="row">
                <div class="col-lg-12">
                    <p>Copyright &copy; Samantha Beauty 2015</p>
                </div>
            </div>
            <!-- /.row -->
        </footer>

    </div>
    <!-- /.container -->

    <!-- jQuery -->
    <script src="static/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="static/bootstrap.min.js"></script>

</body>

</html>
